.ide-container {
  // width: calc(100% - 80px);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.console-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      color: rgba(124, 188, 223, 1);
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .console {
    height: calc(100% - 30px);
    overflow: auto;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    .console-items-error {
      color: #ed3267;
    }
  }

  .btn-clear {
    color: #b24141;

    &:hover {
      color: #ed3267;
    }
  }
}

.split-pane-container {
  position: relative !important;
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
}

.Resizer {
  background: #e4e4e4 no-repeat center;
  border: 1px solid #b4b4b4;
  transition: all 0.3s;

  &.vertical {
    width: 11px;
    height: 100%;
    background-image: url(~@/assets/img/resizex.png);
    border-top: 0;
    border-bottom: 0;
    cursor: col-resize;
  }

  &.horizontal {
    width: 100%;
    height: 11px;
    background-image: url(~@/assets/img/resizey.png);
    border-right: 0;
    border-left: 0;
    cursor: row-resize;
  }

  &:hover {
    background-color: #ddd;
  }
}

.ace-editor {
  width: 100%;
  text-transform: none;
  background: rgba(255, 255, 255, 0.8);
  pointer-events: auto;
}

.ace-vibrant-ink .ace_gutter {
  background: rgba(10, 14, 45, 0.86);
}

body .errorMarker {
  position: absolute;
  left: 0 !important;
  z-index: 20;
  width: 100% !important;
  background: rgba(255, 72, 0, 0.5);
}
